@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Paytone+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  color: theme('colors.dark')
}
.paytone {
  font-family: "Paytone One","Noto Sans TC", sans-serif;
}
*{
  outline: 1px solid #F50
}
